@import "tailwindcss";

@theme {
  --color-canvas-dark: #0A0A0A;
  --color-canvas-panel: #171717;
  --color-canvas-border: #262626;
  --color-tactical-red: #DC2626;
  --color-tactical-hover: #991B1B;
  --color-ui-text: #FAFAFA;
  --color-ui-muted: #A3A3A3;
}